.hero {
  @extend .d-flex;
  @extend .align-items-center;
  @extend .text-white;

  @include respond(phone) {
    padding-top: 30px;
    min-height: 40vh;
  }

  @include respond(tablet) {
    padding-top: 50px;
    min-height: 60vh;
  }

  @include respond(pc) {
    padding-top: 70px;
    min-height: 80vh;
  }

  .container-hero {
    // background-color: darkgrey;
    //opacity: 0.8;

    h1 {
      @extend .display-4;
      @extend .fw-bold;
      color: white;
      font-size: 24px;
      @include respond(tablet) {
        font-size: 48px;
      }
      @include respond(pc) {
        font-size: 64px;
      }

      text-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
    }
  }
}

#alerts-container{
  position: fixed;
  top: 5rem;
  width: 20rem;
  z-index: 1050; // Ensure it appears above other content
  margin-left: 50px;
  margin-top: 20px;
  rotate: -15deg;   
  padding: 1em;
}
