@use "../response" as *;

#page-content {
  padding: 0;
  margin: 0;
}

.sections {
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  @include respond(tablet) {
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  @include respond(pc) {
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 1em;
    margin-bottom: 2em;
  }
}

.section {
  &::after {
    content: ""; // required for pseudo-elements
    display: block; // makes it appear like an <hr>
    border-bottom: 1px solid #ccc; // color & thickness
    margin: 20px 0; // spacing above & below
  }
  &:last-child::after {
    content: none; // remove the separator for the last section
  }
}

.sectionContent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.sectionImageWrapDiv {
  display: none;
  @include respond(tablet, pc) {
    display: block;
    float: left;
    padding-right: 1em;
  }
  @include respond(pc) {
    max-width: 480px;
  }
  @include respond(tablet) {
    max-width: 360px;
  }
  img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
    border-radius: 15px;
  }
}

.sectionImageLeftDiv {
  display: none;
  @include respond(tablet, pc) {
    flex: 0 0 33%;
    display: block;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;

    border-radius: 15px;
  }
}

.sectionImageRightDiv {
  display: none;
  @include respond(tablet, pc) {
    flex: 0 0 33%;
    display: block;
    padding-left: 1em;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;

    border-radius: 15px;
  }
}

.sectionheader {
  display: flex;
  justify-content: space-between; /* pushes items to edges */
  align-items: center; /* vertically center them */
  white-space: nowrap;
  margin-bottom: 0.5em;
  .sectiondate {
    display: block;
  }
}

.sectionInfoHolder {
  align-items: flex-start;
}

.sectionitem {
  @extend .sections;
  margin-top: 48px;
}
.merchsize {
  width: 100%;

  img {
    width: 100%;
    height: auto; /* keeps aspect ratio */
    display: block;
  }
}

.merch {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  justify-content: start; // or center if you want
  max-width: 100%;
  box-sizing: border-box;
  justify-content: center;
}

.merchholder {
  display: flex; // make it a flex column
  flex-direction: column;
  gap: 10px;
  min-width: 0; // <--- crucial, allow shrinking

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}
