<footer>
  <div id="footer-logo">
    <img src="/images/logo.png" alt="Gordano Model Flying Club" />
  </div>
  <div id="footer-content">
    <p>
      Gordano Model Flying Club is a member of the BMFA (British Model Flying
      Association).
    </p>
    <p>
      For more information, visit the
      <a href="https://www.bmfa.org" target="_blank" rel="noopener noreferrer"
        >BMFA website</a
      >.
    </p>
    <p>Copyright © <span id="copyright-year"></span>. All rights reserved.</p>
  </div>
  <div id="footer-links">
    <a
      href="https://www.facebook.com/groups/327796220935498"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="/images/facebook-icon.png"
        alt="Visit us on Facebook"
        width="32"
        height="32"
        style="display: inline-block; border: 0"
      />
    </a>
    <a href="\aboutus.html#findus" target="_self">
      <i class="fa-solid fa-location-dot colour_red"></i>
    </a>
  </div>
</footer>
