<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      type="image/png"
      href="/images/favicon/favicon-96x96.png"
      sizes="96x96"
    />
    <link rel="icon" type="image/svg+xml" href="/images/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/images/favicon/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/images/favicon/apple-touch-icon.png"
    />
    <link rel="manifest" href="/site.webmanifest" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <!--<link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />-->
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg bg-body-tertiary fixed-top navbar-opacity"
    >
      <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="/">
          <img
            src="/images/logo.png"
            alt="Site logo"
            width="32"
            height="32"
            class="me-2"
          />
          <span><%= siteName %></span>
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarTest"
          aria-controls="navbarTest"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTest">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="/"
                data-page="page-home"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                href="events.html"
                data-page="page-events"
                >Events</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                href="gallery.html"
                data-page="page-gallery"
              >
                Gallery</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                href="aboutus.html"
                data-page="page-aboutus"
                >About Us</a
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Club Links
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a
                    class="dropdown-item"
                    href="/club/clubnews.html"
                    data-page="page-clubnews"
                    >Club News</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="/club/clubrules.html"
                    data-page="page-clubrules"
                    >Clubs Rules</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="/club/members.html"
                    data-page="page-members"
                    >Members/Join</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="/club/caa.html"
                    data-page="page-caa"
                    >CAA</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="/club/clubmerch.html"
                    data-page="page-clubmerch"
                    >Club Merchandise</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid" id="page-content">
      <div id="hero"></div>
      <div id="contentarea"></div>
    </div>
    <div id="footer">
      <p>GMFC <span id="copyright-year"></span></p>
    </div>
  </body>
</html>
