// Toggle global options
$enable-gradients: true;
$enable-shadows: true;
$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
//$font-family-sans-serif: "Times New Roman", "Dosis", "Helvetica Neue", Helvetica,  Arial, sans-serif;
$body-color: #333;
$body-bg: #fff;
$border-radius: 0.4rem;
$success: #7952b3;


@import "./bootstrapImport";
@import "./response.scss";

@import "./components/hero.scss";
@import "./components/section.scss";




