
/*// 1. Load your custom overrides first
@use "bootstrapConfig" as *;

// 2. Load Bootstrap safely
@use "bootstrap" with (
  $enable-gradients: $enable-gradients,
  $enable-shadows: $enable-shadows,
  $offcanvas-box-shadow: $offcanvas-box-shadow,
  $body-color: $body-color,
  $body-bg: $body-bg,
  $border-radius: $border-radius,
  $success: $success
);
*/

// 3. Load your own SCSS components
@use "./response.scss" as *;
@use "./components/navbar.scss" as *;
@use "./components/hero.scss" as *;
@use "./components/footer.scss" as *;
@use "./components/section.scss" as *;
@use "./components/aboutus.scss" as *;
@use "./components/gallery.scss" as *;
@use "./components/map.scss" as *;
@use "./components/club.scss" as *;
